* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color: #00217a;

    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

footer p {
    color: rgb(48, 48, 48);
    font-size: 0.8em;
    text-align: center;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.btn-instruccion {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 12px;
    animation: bounce 0.5s infinite;



}

.btn-instruccion:hover {
    background-color: #45a049;
    animation: none;
    /* Stop the bounce animation on hover */
}

canvas {
    border-radius: 10%;
    border: 2px solid #4CAF50;
    /* Green */
    margin: 20px auto;
    display: block;
}

.btn-start {
    background-color: #804cce;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}

.btn-start:hover {
    background-color: #250036;
}

.container {
    display: flex;
    flex: 1 1 auto;
    /* Allow the container to grow and shrink */
    justify-content: space-between;
    /* Space between items */
}


.btn-stop {
    background-color: #dd0000;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn-stop:hover {
    background-color: #7a0000;
}

.btn-explicacion {
    background-color: #3a3a3a;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 12px;
    animation: bounce 0.5s infinite;
}

.btn-explicacion:hover {
    background-color: #7a7a7a;
    animation: none;
    /* Stop the bounce animation on hover */
}

.repo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(30, 0, 161);
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin : 10px;
    
}